.max-w-3xl.mx-auto
  .text-3xl.font-sans.text-center.p-10
    | 3つの言葉で小さな物語を作ろう
  .text-2xl.text-center
    | 【今日の言葉】
    .flex.flex-row.p-3
      - @today_words.each do |tw|
        .mb:text-2xl.text-center.p-10.font-bold.basis-1/3
          = tw.name
    - if !logged_in?
      .flex.flex-row.p-3
        .m-6.basis-1/2
          = link_to '会員登録してから投稿する', new_user_path, class: 'btn btn-active btn-primary'
        .m-6.basis-1/2
          = link_to '名無しとして投稿する', new_work_path, class: 'btn btn-outline btn-primary'

  .text-2xl.text-center.p-5
    | 最新の作品
  - if @latest_works.present?
    = render @latest_works

  .text-center.m-5
    = link_to 'もっと読む', works_path, class: 'btn btn-outline btn-secondary'


  - if !logged_in?
    .text-center
      .flex.flex-row.p-3
        .m-6.basis-1/2
          = link_to '会員登録してから投稿する', new_user_path, class: 'btn btn-active btn-primary'
        .m-6.basis-1/2
          button.btn.btn-outline.btn-primary
            |  名無しとして投稿する