<% flash.each do |message_type, message| %>
  <%= content_tag(:div, class: "alert alert-#{message_type} shadow-lg") do %>
    <%= content_tag(:div) do %>
      <span><%= message %></span>
    <% end %>
  <% end %>
<% end %>