<div class="footer footer footer-center p-5 bg-base-100 bg-primary text-primary-content rounded">
  <div class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', terms_path %>
    <%= link_to 'プライバシーポリシー', privacy_path %>
    <%= link_to 'お問い合わせはDMください', "https://twitter.com/kentarotawara", target: "_blank", rel: "noreferrer noopener" %>
  </div>
  <div>
    <p>
      ©三文小説
    </p>
  </div>
</div>