.px-10.my-4.py-6
  h1.text-center.text-2xl.text-gray-700.font-bold.hover:text-gray-600
    | 投稿一覧
.container.mx-auto
  - if @works.present?
    = render @works
  - else
    h2.text-center
      | 投稿はまだありません。最初の投稿をしましょう！