<div id="menu" class="bg-gray-800 flex flex-col justify-between">
  <div>
    <div class="h-16 bg-blue-500 text-white flex items-center justify-center">
      <a class="block px-5 text-white text-lg h-8 flex items-center justify-center" href="javascript:;">
        <span class="bg-blue-700 rounded-full h-8 w-8 flex items-center justify-center">
          <i class="fas fa-spa fa-fw"></i>
        </span>
        <span class="hidden-item px-2">Admin</span>
      </a>
    </div>
    <ul class="text-white">
      <li>
        <%= link_to admin_users_path, class: 'block p-3 border-b border-gray-900 hover:text-orange-400' do %>
          <i class="fa-solid fa-users"></i>
          <span class="hidden-item">著者</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_works_path, class: 'block p-3 border-b border-gray-900 hover:text-orange-400' do %>
          <i class="fa-light fa-book"></i>
          <span class="hidden-item">作品</span>
        <% end %>
      </li>
    </ul>
  </div>
  <a href="javascript:;" class="block p-4 text-center bg-gray-900">
    <i class="fas fa-power-off text-red-500"></i>
  </a>
</div>